.BotonTres {
    width: 150px;
    height: 150px;
    border: 1px solid #737e8d;
    background-color: #c5cdd7;
    padding: 1rem;
    margin-bottom:1px;
    padding:auto;

} 

.MallaTres {
  display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 width:455px;
 margin:auto;

}
.BotonTres:hover{ 
   background-color:  #737e8d;; 
}

.BotonTres:focus{ 
    background-color:  #dfe5ec; 
 }
 



.ClaseTres{

    color:#6a7d94;
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    border: none;
    font-weight:100;
    font-size: 50px;
}

#MensajeTresEnRaya{
  font-size: 55px;
}




@media screen and (max-width: 640px) {
.BotonTres{
      height:100px;
      width:100px;
      gap:0px; }
  .MallaTres{
    width:300px}
   .ClaseTres{

    font-size: 25px;
}}

 
  @media screen and (min-width: 640px) and (max-width: 1280px) {
    .BotonTres{
      height:135px;
      width:135px;
      gap:0px;}
    .MallaTres{
    width:400px}
 #MensajeTresEnRaya{

  font-size: 25px;

}} 