.BotonTres {
    width: 200px;
    height: 200px;
    border: 1px solid #737e8d;
    background-color: #c5cdd7;
    padding: 1rem;
    margin-bottom:1px;
    padding:auto;

} 

.BotonTres:hover{ 
   background-color:  #737e8d;; 
}

.BotonTres:focus{ 
    background-color:  #dfe5ec; 
 }
 

.MallaTres {
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   width:600px;
   margin:auto;
  
}