nav{
    grid-area:nav;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.btn-nav{
   display: inline-block;
    height: 100px;
    width: 150px;
    margin: 25px 25px 25px 25px;
    background-color:#fff8e8;
    color:#be9834;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 8px 15px #be9834;
    font-weight:1000;
    flex-wrap: nowrap;
}

.btn-nav:hover{
    background-color: #be9834;
    color:#fff8e8;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 8px 15px #be9834;
    flex-wrap: nowrap;
    font-weight:1000;
}


