* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    width: 100vw;
    min-height: 100vh;
  }
  
  .container {
	display: flex;
  flex-direction: column-reverse
}
.hijo{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    color: whitesmoke;
    margin: 10px;
}

.margin-example{
    width: 800px;
    margin: auto;
    padding:20px;
    height: 100;
    background-color: cornflowerblue;
    color: whitesmoke;
}

.textfooter{
  color:orange
}