* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    width: 100vw;
    min-height: 100vh;
  }


  
  body {
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    background-color: black;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 1rem 2%;
  }
  
  h1 {
    font-size: 2em;
    margin: 0;
  }
  
  img {
    height: 100px;
  }
  
  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
    text-align: left;
  }
  
  h2,
  h3 {
    margin: 1rem 0;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    margin: 0.5rem 0;
  }
  
  footer {
    background-color: #999;
    padding: 1em;
    text-align: center;
  }