header{
  max-height: 20vh;
  display:grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "titulo nav imagen";
  background-color: #fee8b7;
  flex-wrap: nowrap;
  overflow: hidden;
  position: fixed;
  width:100%;
  }

#titulo {
  grid-area: titulo;
font-size: 30px;
font-family: 'Courier New', Courier, monospace;
color: #be9834;
display:flex;
justify-items: left;
align-items: center;
align-content: left;
flex-wrap:nowrap;
margin-left:30px;
}





    