/*Dado el siguiente HTML, aplicar los siguientes estilos en una hoja de estilos externa seleccionando 
las etiquetas correspondientes tal y como hemos visto en el ejemplo:

- La etiqueta p tiene que tener un color “skyblue”.
- La etiqueta h1 tiene que tener un color “white”.
- La etiqueta li tiene que tener un color “whitesmoke”.
- La etiqueta body tiene que tener un color de fondo “rgb(52, 52, 52)”.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    width: 100vw;
    min-height: 100vh;
  }

  
p {
    color:skyblue
}

h1 {
    color:red
}

li {
    color:yellow
}

body{
    background-color:rgb(52, 52, 52)
}

